.form{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
}
.formSetting{
    padding: 50px 0 250px 0;
}
.adminForm{
    text-align: center; 
    margin-left: 50px; 
    padding: 15px 0 0 0;
}
fieldset{
    margin-left: 20px;
    border: 1px solid black;
    padding: 25px;
    color: black;
    font-weight: bold;
}
.radio-btns{
    margin-left: 50px
}